# SELECT * FROM performance_schema.variables_info WHERE variable_source <> 'COMPILED'
# で確認
[mysqld]
default_authentication_plugin=mysql_native_password
#slow_query_log = 1
#slow_query_log_file = /var/log/mysql/mysql-slow.log
#long_query_time = 0
#log_queries_not_using_indexes = 1

#innodb_buffer_pool_size = 1G
#innodb_flush_log_at_trx_commit = 2

bind-address = 0.0.0.0

max_heap_table_size = 512M
tmp_table_size = 512M
